*, *:before, *:after {
  padding: 0;
  margin: 0;
  border: 0;
  box-sizing: 0;
}
html, body {
  background-color: black;
  font-family: 'Roboto', sans-serif;
  height: 100%;
  overflow-x: hidden;
}

.wrapper {

}

.container {
  max-width: 1180px;
  margin: 0px auto;
  padding: 0px 10px;
}

.header {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 50;
}
.error{
  top: 15%;
  position: relative;
  left: 33%;
}
.header:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: black;
  z-index: 2;
}

.header__body {
  position: relative;
  display: flex;
  justify-content: space-between;
  height: 100px;
  align-items: center;
}

.header__logo {
  position: relative;
  z-index: 3;
}

.header__logo img {
  width: 100%;
  margin-top: 15%;
}

.header__burger {
  display: none;
}

.header__menu {}

.header__list {
  display: flex;
  position: relative;
  z-index: 2;
}

.header__list li {
  list-style: none;
  margin: 0px 0px 0px 20px;
}

.header__link {
  color: #fff;
  text-transform: uppercase;
  font-size: 18px;
  text-decoration: none;
  font-family: 'Roboto', sans-serif;
}
.header__link:hover{
  text-decoration: underline;
}


.content {
  padding: 100px 0px 0px 0px;
}

.content__text {
  color: white;
  font-family: 'Roboto', sans-serif;
  font-weight: bold;
  font-style: normal;
  font-size: 94px;
  margin-top: 3%;
  line-height: 1.2;
}

.content__text_little {
  color: white;
  font-family: 'Roboto', sans-serif;
  font-weight: bold;
  font-style: normal;
  margin-top: 13%;
  font-size: 24px;
  position: absolute;
  line-height: 1.3;
}
/* решить проблему с позиционированием логотипа */
.chapter{
  position: absolute;
  top: 12%;
  left: 30%;
}
.gamepad{
  left: 70%;
  top: 35%;
  position: absolute;
}
.headphones{
  position: absolute;
  top: 15%;
  left: 65%;
}
.content_text_under{
  color: white;
  font-family: 'Roboto',sans-serif;
  font-weight: bold;
  font-size: 20px
}
.content__text_about{
  color: white;
  margin-top: 35px;
  font-family: 'Roboto',sans-serif;
  font-weight: bold;
  line-height: 1.5;
}
.text_weare{
  color: white;
  font-family: 'Roboto',sans-serif;
  font-weight: bold;
  margin-top: 35px;
}
.arcade{
  position: absolute;
  left: 70%;
  top: 40%;

}
.dialog1{
  left: 61%;
  position: absolute;
  top: 40%;
}
.dialog2{
  position: absolute;
  left: 63%;
  top:20%;
}
/* форма отправки данных */
.form{
  max-width: 550px;
  margin: 0 auto;
  color: white;
  padding: 30px 0;
}
.form__title{
  font-family: 'Roboto',sans-serif;
  font-size: 40px;
  margin: 0 0 30px 0;
}
.form__item{
  margin: 0 0 20px; 0;
}
.form__label{
  font-family: 'Roboto',sans-serif;
  font-size: 18px;
  display: block;
  margin: 0 0 10px 0;
}
.form__input{
  height: 50px;
  padding: 0 20px;
  border-radius: 5px;
  width: 100%;
  font-size: 18px;
}
textarea.form__input {
	min-height: 120px;
	resize: vertical;
	padding: 20px;
}
.checkbox {
}
.checkbox._error .checkbox__label::before {
	box-shadow: 0 0 15px red;
}
.checkbox__input {
	display: none;
}
.checkbox__input:checked + .checkbox__label::after {
	transform: scale(1);
}

.checkbox__label {
	font-size: 16px;
	line-height: 140%;
	display: inline-flex;
	align-items: center;
	position: relative;
	cursor: pointer;
}

.checkbox__label::before {
	content: "";
	align-self: flex-start;
	flex: 0 0 24px;
	height: 24px;
	background-color: #fff;
	border-radius: 4px;
	margin: 0px 10px 0px 0px;
}
.checkbox__label::after {
	transition: transform 0.5s ease 0s;
	content: "";
	width: 16px;
	height: 16px;
	position: absolute;
	top: 4px;
	left: 4px;
	background-color: red;
	border-radius: 4px;
	transform: scale(0);
}

.checkbox__label a {
	color: red;
}
.form__button {
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	min-height: 60px;
	background-color: #A93226;
	color: #fff;
	font-size: 18px;
	text-transform: uppercase;
	letter-spacing: 2px;
	font-weight: 700;
	cursor: pointer;
	border-radius: 20px;
	box-shadow: 0 5px 0 #161b13;
	transition: background-color 0.5s ease 0s;
	position: relative;
	top: 0;
}
.form__button:hover {
	background-color: #7B241C;
}
.form__button:active {
	top: 3px;
	box-shadow: 0 2px 0 #161b13;
}
